body{
    background-color: blue;
    color: white;
}

section{
    background: rgb(229, 65, 153);
    padding-top: 1%;
    padding-bottom: 1%;
    display: flex;
    justify-content: center;
}

header{
    padding-top: 20px;
    padding-bottom: 20px;
}

.chamada_video{
    margin-left: 20px;
}

img{
    height: 200px;
}

.categorias_videos{
    display: flex;
    overflow: auto;
    gap: 10px;
}